@import "../componentes-scss/_variables";

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 24px;
  a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    &:nth-child(1) {
      border-bottom: 1px solid var(--very-light-pink);
    }
    li {
      margin-bottom: 24px;
      .sign-out {
        font-size: var(--sm);
        color: var(--hospital-green);
      }
    }
    .email {
      font-size: var(--sm);
      color: var(--very-light-pink);
      margin-bottom: 0;
    }
  }
}
