@import "../componentes-scss/_variables";

.my-orden {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.my-orden-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 290px;
}
.my-orden-content {
  display: flex;
  flex-direction: column;
}
.orden {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
  p:nth-child(1) {
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
      font-size: var(--md);
      font-weight: bold;
    }
    span:nth-child(2) {
      font-size: var(--sm);
      color: var(--very-light-pink);
    }
  }
  p:nth-child(2) {
    justify-self: end;
    font-weight: bold;
  }
}
